<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script>
angular
  .module('app.demo', [])
  .controller('DemoController', DemoController)
  .directive('demoDirective', demoDirective);

DemoController.$inject = [];

function DemoController() {
  var vm = this;

  vm.item = 'Hello Clevland!';
}

const dogPictureHtml = `
  <div>
    <div ng-if="!!vm.imgUrl">
      <img src="{{vm.imgUrl}}"></img>
    </div>
    <div>
      <button ng-click="vm.getNewPicture()">Get a new kitty picture!</button>
    </div>
  </div>
  `;

function demoDirective() {
  var directive = {
    template: dogPictureHtml,
    controller: CatController,
    controllerAs: 'vm',
    restrict: 'E',
  };

  return directive;
}

function CatController() {
  var vm = this;

  vm.imgUrl = undefined;

  vm.getNewPicture = () => {
    fetch('https://api.thecatapi.com/v1/images/search')
      .then(response => {
        console.log(response)
        response
          .json()
          .then(data => {
            vm.imgUrl = data[0].url});
      });
  }; 
}

angular
  .module('app', [
    'app.demo',
  ]);
    </script>
  </head>
  <body ng-app="app">
    <demo-directive></demo-directive>
    <div ng-controller="DemoController as demo">
      {{ demo.item }}
    </div>
  </body>
</html>

